.category-container {
    margin-top: 20px;
    border: 5px solid #2E8B57;
    width: 100%;
    height: 50px;
    border-radius: 35px;
    background-color: #2E8B57;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  
  .sidebar-label-container {
    margin: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .sidebar-label-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .color-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally within the .color-options container */
    margin-top: 5px;
  }
  
  .color-options label {
    color: #ffff;
    margin-right: 35px;
    width: auto;
    font-weight: 600;
  }